<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }

        .buttons {
            margin-top: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            margin-right: 10px;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>HOME PAGE</h1>
        <div class="buttons">
            <a href="/microauto/page" class="btn">Speech Recognition</a>
            <a href="/samsum/page" class="btn">Summarization</a>
        </div>
    </div>
</body>

</html>